.assignment{
    background: var(--snd-bg-color);
}
.assignment h2{
    text-align: center;
    margin-bottom: 5rem;
}
.assignment-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.assignment-container .assignment-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.assignment-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.assignment-box:hover img{
    transform: scale(1.1);
}
.assignment-box .assignment-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.assignment-box:hover .assignment-layer{
    transform: translateY(0);
}
.assignment-layer h4{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
.assignment-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: white;
    font-weight: bold;
}